.ask{
    width: 40vw;
    text-align: center;
    margin-left: 2%;
    
}

.containerFibonacci{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.fibonacciImg img {
    width: 34vw;
    height: auto;
    border-radius: 15px;
}

.ask button{
    background-color: var(--cor-secundaria) ;
    width: 20vw;
    height: 6vh;
    border-radius: 10px;
    color: var(--cor-texto-branco);
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    border: none;
    margin: 2%;
    cursor: pointer;
}

.ask button:hover{
    background-color: var(--cor-hover);
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ask p {
    font-family: var(--fonte-principal);
    font-size: var(--tam-texto-secundario);
}

.fibonacciForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fibonacciInput{
    width: 20vw;
    height: 1vh;
    border-radius: 10px;
    border: solid 0.5px var(--cor-footer);
    padding: 2%;
    outline: none;
    margin: 4%;
    font-family: var(--fonte-principal);
}



/*Resultados */
#resultado {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#resultado h3 {
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: var(--tam-titulo);
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

#resultadosList {
    display: flex; 
    flex-wrap: wrap; 
    gap: 15px; 
    font-size: var(--tam-texto-secundario);
    font-family: var(--fonte-principal);
    width: auto;
    min-width: 50%;
    height: 4vh;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    justify-content: center;

}


#resultadosList.with-background {
    background-color: #ecf0f1; 
}